:root {
  --yellow: #fffd44;
  --red: #e9082d;
  --green: #00ff0a;
  --white: #fff;
  --black: #111;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
}
form {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #111;
  /* border-radius: 30px; */
  box-shadow: 5px 10px 50px rgb(22, 233, 222);
}
form:hover {
  box-shadow: none;
}
.login {
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
}
h1 {
  font-size: 30px;
  color: var(--white);
}
input {
  width: 100%;
  padding: 12px 20px;
  background: transparent;
  border: 2px solid var(--white);
  border-radius: 40px;
  outline: none;
  font-size: 1.2em;
  color: var(--white);
}
input:hover {
  filter: drop-shadow(5px 5px 10px var(--white));
}
input::placeholder {
  color: rgb(255, 255, 255, 0.75);
}
button {
  width: 100%;
  padding: 12px 20px;
  border: none;
  border-radius: 40px;
  font-size: 1.2em;
  cursor: pointer;
  transition: 0.5s;
  background: linear-gradient(45deg, var(--red), var(--yellow));
}
button:hover {
  filter: drop-shadow(0 0 10px var(--green));
}
.links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: var(--white);
  transition: 0.5s;
  cursor: pointer;
}
p:hover {
  color: var(--yellow);
}
i {
  position: absolute;
  border: 1px solid var(--white);
  inset: 0;
  transition: 0.5s;
}

@keyframes clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes counterclockwise {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
form:hover .b1 {
  border: 6px solid var(--green);

  border-radius: 38% 62% 63% 37%/41% 44% 56% 59%;
  animation: clockwise 4s linear infinite;
}
form:hover .b2 {
  border: 6px solid var(--red);
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: clockwise 6s linear infinite;
}
form:hover .b3 {
  border: 6px solid var(--yellow);
  border-radius: 41% 44% 63% 37%/38% 62% 56% 59%;
  animation: counterclockwise 6s linear infinite;
}
